/* Landing area */

.landing {
  height: 75vh;
  background-image: url("../../images/beachchairs.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  margin-bottom: 5vh;
}

.home-title {
  margin: auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 2vh;
}

.text {
  background-color: rgba(0,0,0,0.4);
  padding: 2vh;
  text-align: center;
}



/* What is ownership */
.ownership h2 {
  margin-bottom: 5vh;
  color: white;
}

.ownership {
  background-color: #0088ff;
  padding: 10vh;
  margin-top: 5vh;
}

.card-text {
  text-align: left;
}

/* FAQS */


.faqs {
  margin-top: 5vh;
}

.faqs .card-header {
  background-color: #0088ff;
  border: 0.5vh solid white;
}

.faqs .card {
  border: none;
  border-radius: 0;
}

.faqs button {
  color: white;
}

.faqs button:hover {
  color: white;
}

.title-section {
  margin-bottom: 5vh;
}
