.text {
  width: 90vw;
}

.landing {
  background-position: right;
}


.text h1 {
  font-size: 5vh;
}

.text h2 {
  font-size: 3.5vh;
}

#secondtitle {
  margin-top: 5vh;
}

.findbuttons {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.findbuttons button {
  margin-top: 2vh;
}


footer .nav {
  flex-direction: column !important;
  padding: 0 !important;
}
