/* Home Landing Area */

.landing {
  height: 100vh;
  background-image: url("../../images/project27-11.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-title {
  color: white;
  margin: auto;
}

.text {
  background-color: rgba(0,0,0,0.4);
  padding: 2vh;
  text-align: center;
}



/* Three panels */

.fold {
  padding-top: 3vh;
  padding-bottom: 3vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}


.two {
  background-color: #343a40;
}

/* Why MSM? */

.why-us {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.card {
  margin: 2vh;
}

.carousel {
  margin-top: 4vh;
}

/* Testimonials */


.testimonials {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding:2vh;

}

.testimonials .carousel-inner {
  margin-top:5vh;
}

/* Footer */

footer {
  border-top: 0.5vh solid black;
  margin-top: 5vh;
}

footer .nav {
  margin-top: 5vh;
}

.copyright {
  text-align: center;
}
