

/* Gallery */

body {
  background-color:#003399 !important;
}

#demo {

  position:relative;
  overflow:hidden;
}


.green{
  background-color:#6fb936;
}
        .thumb{
            margin-bottom: 30px;
        }

        .page-top{
            margin-top:85px;
        }


img.zoom {
    width: 100%;
    height: 200px;
    border-radius:5px;
    object-fit:cover;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}


.transition {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
    .modal-header {

     border-bottom: none;
}
    .modal-title {
        color:#000;
    }
    .modal-footer{
      display:none;
    }

/* Landing area */

.landing {
  height: 75vh;
  background-image: url("../../images/project1-4.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  margin-bottom: 5vh;
}

.home-title {
  margin: auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 2vh;
}

.text {
  background-color: rgba(0,0,0,0.4);
  padding: 2vh;
  text-align: center;
}

/* Tabbed section */

.services-section {
  margin-top: 5vh;
  text-align: center;
}

.carousel-section {
  text-align: center;
}

.carousel-section h2 {
  text-align: center;
}

.services-section p {
  font-size: 3vh;
}

.tabsection h2 {
  margin-bottom: 5vh;
  margin-top: 3vh;
}

.services {
  margin-top: 3vh;
}


/* Rooms */

.room-listing {
  padding: 3vh;
  margin: 2vh;
}

.carousel {
  border: 0.3vh black solid;
}

.service button img {
  width: 2em;
  height: 2em;
}


/* Attractions */

.attraction {
  background-color: #f7f7f7 !important;
  padding: 2vh;
  margin: 2vh;
  min-width: 23vw;
}

.attractions-list {
  margin: auto;
}

.book-now {
  margin-top: 3vh;
}
