


/* Landing area */

.landing {
  height: 80vh;
  background-image: url("../../images/project27-2.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  margin-bottom: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}



.home-title {
  margin: auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4) !important;
  padding: 2vh !important;
}

.text {
  background-color: rgba(0,0,0,0.4);
  padding: 2vh;
  text-align: center;
}

footer .nav-link {
  color: white !important;

}

footer {
    border-top: 0.5vh solid white !important;
}
